

.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;    
}

.singleProject {
    display: flex;
    border-radius: 25px;
    background-color: #2e323c;
    height: 100%;
    width: 84%;
    
}

.projectContainer {
    height: 140vh;
    width: 80vw;
    padding-bottom: 20vh;
}




